IMAGE=docker.io/injustfr/mossytrunk
TAG=latest

APP_PORT=8080
APP_BIND=0.0.0.0
TRUSTED_PROXIES=private_ranges
DEFAULT_URI=https://mossytrunk.example.com

APP_SECRET=
APP_ENCRYPTION_KEY=

POSTGRES_DB=app
POSTGRES_USER=app
POSTGRES_PASSWORD=

MAILER_DSN=smtp://user:password@smtp.example.com:587
MAILER_FROM=noreply@mossytrunk.example.com

SUMUP_API_KEY=
SUMUP_MERCHANT_CODE=
