IMAGE=docker.io/injust/mossytrunk
TAG=latest

APP_PORT=8080
APP_BIND=0.0.0.0
TRUSTED_PROXIES=private_ranges
DEFAULT_URI=https://mossytrunk.example.com

APP_SECRET=
APP_ENCRYPTION_KEY=

POSTGRES_DB=app
POSTGRES_USER=app
POSTGRES_PASSWORD=

OIDC_CLIENT_SECRET=

